DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[SENHA]@[REGIAO].pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres:[SENHA]@db.[PROJECT_REF].supabase.co:5432/postgres"
SESSION_SECRET="gere-uma-chave-com-32-caracteres-ou-mais"
APP_URL="https://seu-dominio.com"
NODE_ENV="production"
MERCADOPAGO_ACCESS_TOKEN="APP_USR-..."
MERCADOPAGO_WEBHOOK_SECRET="assinatura-secreta-do-webhook"

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-XXXXXXXXXX"

# Resend Emails
RESEND_API_KEY="re_XXXXXXXXXXXXXXXXXXXXX"
RESEND_FROM_EMAIL="onboarding@clinos.tec.br"
