DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[SUA_SENHA_DO_BANCO_URL_ENCODED]@[REGIAO].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres:[SUA_SENHA_DO_BANCO_URL_ENCODED]@db.[PROJECT_REF].supabase.co:5432/postgres"
SESSION_SECRET="troque-por-uma-chave-longa-com-32-caracteres-ou-mais"
APP_URL="http://localhost:3000"
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_WEBHOOK_SECRET=""
